@import "tailwindcss";


:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}
body {
  font-family: var(--font-geist-sans);
}


@keyframes ping-slow {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.6);
    opacity: 0.6;
  }
}

@keyframes ping-slower {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.animate-ping-slow {
  animation: ping-slow 2s infinite;
}

.animate-ping-slower {
  animation: ping-slower 3s infinite;
}
